boto
boto3
botocore
cmsplugin-filer==1.1.3
django-cms==3.4.7
djangocms-text-ckeditor
djangocms_column
djangocms_link
djangocms_style
djangocms_snippet
djangocms_googlemap
djangocms_video
django_select2
django-filer
django-storages
Django==2.2.26
djangorestframework
-e git://github.com/narfman0/djangocms-rest-api.git@1dac41a52e2a0468ddf975e95a682973b49ae4a5#egg=djangocms_rest_api
easy-thumbnails
requests
zappa
